[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
jinja2 = "*"
zthreading = "*"
tictoctimer = "*"
zcommon = "*"
match_pattern = "*"

[requires]
python_version = "3.8"
