<!DOCTYPE html>
<html lang="en">
  <head>
    <%- render_stratis_script_tag() %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test website for stratis</title>
  </head>
  <body>
    <div>
      <%- JSON.stringify(a_value) %><br />
      <%- await print_something() %>
      <br />
      <a href="/oauth2?revoke=true&&redirect_to=/"
        >Revoke oauth2 token (internal oauth test)</a
      >
      <br />
      <a href="permissions.html">Permissions tester</a>
    </div>
  </body>
</html>
